#d1,
#d2 {
  width: 500px;
  height: 100px;
  border: 5px solid #000;
  font-size: 50px;
  padding: 50px;
  margin: 50px;
}

span {
  margin: 20px;
  border: 1px solid #000;
  padding: 20px;
  width: 200px;
  height: 200px;
}

#d3 {
  width: 200px;
  height: 200px;
  border: 3px solid #ff0000;
  margin: 20px 40px 60px 80px;
  padding: 0 0 0 10px;
  box-shadow: 10px 10px 5px 5px red;
}


